<div class="pf-container">
    <app-sidebar-content></app-sidebar-content>
<div class="pf-content">
  <p> The star, who typically gives her opinion on the issues of the day and her life by way of her blog, changed things up a bit by publishing a lengthy op-ed in The New York Times about the Harvey Weinstein scandal, in which she condemned a culture that puts women in situations like the ones Weinstein’s accusers found themselves in. However, after including a portion about how she’s avoided Hollywood harassment for so long, many who read the piece are accusing her of blaming the victims for their own assaults. </p>
  <h1> Services </h1>
<div class="pf-grid">

<!--Adding Current Project git hub references located in the projects-content folder-->
<div class="pf-grid-item">
 <app-projects-content></app-projects-content>
</div>
<!--Adding Contact Information located in the contact-content folder-->
<div class="pf-grid-item">
  <app-contact-content> </app-contact-content>
</div>

  <div class="pf-grid-item">
   <app-peeves-content></app-peeves-content>
  </div>
   <div class="pf-grid-item">
 <app-tech-news-content></app-tech-news-content>

  </div>
   <div class="pf-grid-item">
   <app-social-content></app-social-content>
  </div>
</div>

</div>
</div>


 